@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jacques Francois;
}

body{
    background: #000;
    color: #fff;
}

/* ************************ HEADER ************************ */
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1c1c1c;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    z-index: 1000;
}

.logo{
    font-size: 20px;
    font-weight: 500;
}

/* MENU ICON(mobile) */
.menu-toggle{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1100;
}

.menu-toggle span{
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* Menu */
.menu{
    position: fixed;
    top: 0;
    right: -100%; 
    width: 70%;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    transition: 0.4s ease;
}

.menu a{
    margin: 15px 0;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.menu.active{
    right: 0;
}

/* Overlay */
.overlay-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 900;
}

.overlay-menu.active{
    opacity: 1;
    visibility: visible;
}

/* ============ hero ============ */
.hero{
    height: 100vh;
    background: url('./pizza-Fundo.png') center/cover no-repeat;
}

.overlay{
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px;
}

.hero-text h2{
    font-size: 56px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text{
    max-width: 500px;
    text-align: right;
}

.hero-text button{
    padding: 12px;
    background: #ff3c00;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3;
}

.hero-text button:hover{
    background: #87331a;
}

/* ====================== Diferenciais ====================== */
.diferenciais{
    background: #145a32;
    padding: 80px 20px;
    text-align: center;
}

.diferenciais h2{
    margin-bottom: 50px;
    font-size: 28px;
}

/* GRID */
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    background: #1e6f43;
    padding: 30px 20px;
    margin: 0 20px;
    border-radius: 15px;
    width: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}

/* Imagem */
.card img{
    width: 130px;
    height: 130px;
    object-fit: contain;
    margin-bottom: 20px; 
}

.card p{
    font-size: 16px;
    line-height: 1.3;
}

.cardapio{
    background: #f4f4f4;
    color: #000;
    padding: 80px 20px;
    text-align: center;
}

.cardapio h2{
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 500;
}

.lista{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.lista ul{
    list-style: none;
}

.lista ul::before{
    content: attr(data-title);
    display:block;
    font-weight: bold;
    margin: 10px;
}

.lista li{
    margin: 6px 0;
    font-weight: 15px;
    position: relative;
    padding-left: 15px;
}

.lista li::before{
    content: "•";
    position: absolute;
    left: 0;
    color: #000; 
}

.contato{
    background-color: #fff;
}
.contato h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: #000;
}

.conteudo{
    background-color: #1e6f43;
}
.conteudo img{
    width: 500px;
    height: 250px;
    border-radius: 12px;
    transition: 0.3s;
}